.titleContainer {
  text-align: center;
}

.topContainer {
  display: flex;
  justify-content: space-between;
}

.topContainer > * {
  width: 100%;
  margin: 10px;
}

.bottomContainer {
  margin: 10px;
}